---
import AnadirMatComp from '../components/AnadirMateria.svelte';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome">
	<main>
	<AnadirMatComp client:idle />
	</main>
</Layout>